# Azure account
AZURE_ACCOUNT_EMAIL=

# Azure Key Vault
AZURE_KEY_VAULT_URL=

# Azure SQL Database (stored in Key Vault — do NOT set here in production)
DB_CONNECTION_STRING=

# Azure Function App
FUNCTIONS_WORKER_RUNTIME=python
AzureWebJobsStorage=
